<%
  items = [
      ['Шапка лендинга', 'Содержит описание ключевых условий использования сервиса — срок оплаты частями, переплата в месяц, сумма минимального заказа и короткую инструкцию как работает сервис.<br/>Возможна интеграция лендинга через ссылку. Команда Мокка верстает лендинг на своей стороне, дает уникальную ссылку, которую партнеру достаточно вставить на нужной странице сайта. После этого лендинг подгрузится автоматически'],
      ['Форма регистрации', 'Стандартная форма регистрации, заполнив которую, пользователь может сразу узнать свой доступный аванс.'],
      ['FAQ', 'Ответы на частые вопросы. Список FAQ можно дорабатывать в зависимости от специфики бизнеса партнера.'],
  ]
%>
<h3>Расскажите детально о сервисе и его преимуществах</h3>

<div class="guides">
  <% items.each do |item| %>
    <details>
      <summary><%= item[0] %></summary>
      <p><%= raw item[1] %></p>
    </details>
  <% end %>
</div>
