<%
  items = [
      ['Баннер с доступным авансом', 'Показывает актуальный доступ аванс для залогиненного пользователя']
  ]
%>
<h3>Покажите доступный аванс в личном кабинете на сайте</h3>

<div class="guides">
  <% items.each do |item| %>
    <details>
      <summary><%= item[0] %></summary>
      <p><%= raw item[1] %></p>
    </details>
  <% end %>
</div>
