<%
  items = [
      ['Строка способа оплаты', 'Интеграция в способы оплаты возможна текстовая и с применением изображения – в зависимости от принятой практики на сайте. При клике на знак «?» появляется поп-ап с ключевой информацией об авансе Мокка. Способ оплаты с авансом должен быть размещён на первом месте для клиентов, которые прошли ранее регистрацию и имеют одобренный аванс.'],
      ['Поп-ап', 'В поп-апе указываются основные преимущества сервиса Мокка, а также доступный период оплаты аванса, сумма переплаты в месяц и сумма минимальной покупки в соответствии с актуальными коммерческими условиями.'],
      ['Подвал', 'Логотип Мокка в подвале сайта рядом с логотипами платёжных систем информирует о возможности оплачивать частями. Клик ведёт на лендинг.']
  ]
%>
<h3>добавьте мокка в способы оплаты на чекауте</h3>

<div class="guides">
  <% items.each do |item| %>
    <details>
      <summary><%= item[0] %></summary>
      <p><%= item[1] %></p>
    </details>
  <% end %>
</div>
