<%
  items = [
      ['Текст с подтверждением', 'Стандартный экран подтверждения заказа, с текстом “Заказ оплачен авансом Мокка”']
  ]
%>
<h3>Проинформируйте вашего покупателя, что заказ был оплачен авансом</h3>

<div class="guides">
  <% items.each do |item| %>
    <details>
      <summary><%= item[0] %></summary>
      <p><%= raw item[1] %></p>
    </details>
  <% end %>
</div>
