<%
  items = [
      ['Баннер на главной странице', 'Размещение баннеров Мокка на главной странице (и на других страницах) позволяет клиентам узнать о возможности получить аванс Мокка, оформить его и купить больше. Клик по баннеру ведёт на лендинг.'],
      ['Подвал', 'Логотип Мокка в подвале сайта рядом с логотипами платёжных систем информирует о возможности оплачивать частями. Клик ведёт на лендинг.'],
      ['Страница в личном кабинете', 'Повторный пользователь видит величину доступного аванса в своём личном кабинете, что мотивирует его совершить покупку.'],
  ]
%>
<h3>Расскажите покупателям о мокка на главной странице</h3>

<div class="guides">
  <% items.each do |item| %>
    <details>
      <summary><%= item[0] %></summary>
      <p><%= item[1] %></p>
    </details>
  <% end %>
</div>
