<%
  items = [
      ['Строка под ценой', 'Размещение баннера в карточке товара позволяет показать «битую» цену (стоимость ежемесячного платежа в месяц при максимальном периоде) и увеличить конверсию в покупку. При клике на знак «?» появляется поп-ап с ключевой информацией об авансе Мокка.'],
      ['Поп-ап', 'В поп-апе указываются основные преимущества сервиса Мокка, а также доступный период оплаты аванса, сумма переплаты в месяц и сумма минимальной покупки в соответствии с актуальными коммерческими условиями.'],
      ['Подвал', 'Логотип Мокка в подвале сайта рядом с логотипами платёжных систем информирует о возможности оплачивать частями. Клик ведёт на лендинг.']
  ]
%>
<h3>покажите преимущество покупки с мокка в карточке товара</h3>

<div class="guides">
  <% items.each do |item| %>
    <details>
      <summary><%= item[0] %></summary>
      <p><%= item[1] %></p>
    </details>
  <% end %>
</div>
